<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemical Reaction</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Chemical Reaction</h1>
        <button id="openReactionBtn">Open Reaction Container</button>
        <div id="reactionContainer" style="display: none;">
            <h2>Reactants</h2>
            <div id="reactants">
                <!-- Reactant inputs will be added here dynamically -->
            </div>
            <button id="addReactantBtn">Add Reactant</button>
            <h2>Products</h2>
            <div id="products">
                <!-- Product inputs will be added here dynamically -->
            </div>
            <button id="addProductBtn">Add Product</button>
            <button id="generateLCABtn">Generate Life Cycle Analysis</button>
            <button id="generateScaleUpBtn">Scale Up Assesment</button>
            <button id="generateAIScaleUpBtn">Generate Scale Up Assesment</button>
        </div>
        <div id="environmentalReport" style="display: none;">
            <h2>Environmental Report</h2>
            <div id="reportContent"></div>
            <h3>Aggregate Score Radar Plot</h3>
            <canvas id="aggregateScoreChart"></canvas>
            <h3>Individual Reactant Score Radar Plots</h3>
            <div id="reactantScorePlots"></div>
            <h3>Individual Product Score Radar Plots</h3>
            <div id="productScorePlots"></div>
        </div>

        <div id="scaleUpWizard" style="display: none;">
            <h2>Scale-Up Analysis</h2>
            <div id="wizardSteps">
              <!-- Steps will be dynamically added here -->
            </div>
            <button id="prevBtn" disabled>Previous</button>
            <button id="nextBtn">Next</button>
        </div>
        
        <div id="recommendationContainer"></div>
        <div id="flowDiagramContainer" style="display: none;">
            <p id="originalRecommendation"></p>
            <button id="FlowDiagramAnalysisButton">Proceed to flow diagram analysis</button>
        </div>

        <div id="flowDiagramWizard" style="display: none;">
            <h2>Flow Diagram Analysis</h2>
            <div id="flowDiagramQuestion"></div>
            <div id="flowDiagramAnswers"></div>
        </div>
        <div id="flowDiagramOutput"></div>
        <canvas id="FlowDiagramScorePlots"></canvas>

        <div id="safetyContainer" style="display: none;">
            <button id="safetyAnalysisButton">Proceed to safety Analysis</button>
        </div>

        <div id="safetyWizard" style="display: none;">
            <h2>Safety Analysis</h2>
            <div id="safetyQuestion"></div>
            <div id="safetyAnswers"></div>
        </div>
        <div id="safetyScorePlotContainer" style="display: none;">
            <canvas id="safetyScorePlots"></canvas>
        </div>

        <div id="recycleContainer" style="display: none;">
            <button id="recycleAnalysisButton">Proceed to recycle Analysis</button>
        </div>
        <div id="recycleWizard" style="display: none;">
            <h2>Recycle Analysis</h2>
            <div id="recycleQuestion"></div>
            <div id="recycleAnswers"></div>
        </div>
        <div id="recycleScorePlotContainer" style="display: none;">
            <canvas id="recycleScorePlots"></canvas>
        </div>

        <div id="reactionKineticsContainer" style="display: none;">
            <button id="reactionKineticsAnalysisButton">Proceed to reaction kinetics Analysis</button>
            <div id="heatOfReactionButtonContainer" style="display: none;">
                <button id="calculateHeatOfReactionButton">Calculate the heat of reaction</button>
            </div>
            <div id="enthalpyChangeResult"></div>
        </div>

        <div id="reactionKineticsEconomicalEnvironmentalContainer" style="display: none;">
            <button id="reactionKineticsEconomicalEnvironmentalButton">Advance to the economic and environmental Analysis</button>
        </div>

        <div id="economicEnvironmentalContainer">
            <div id="economicEnvironmentalFormContainer"></div>
            <div id="calculationResult"></div>
            <div id="reactionMTSRContainer" style="display: none;">
                <button id="reactionMTSRButton">Proceed to  Reaction Heat Adiabatic Temperature Rise MTSR</button>
                <button id="reactionMTSRSkipButton">Skip Reaction Heat Adiabatic Temperature Rise MTSR</button>
                <div id="mtsrResult"></div>
                <div id="deltaTadResult"></div>
                
            </div>
        </div>
        <div id="MTSREconomicalContainer" style="display: none;">
            <button id="economicMTSRButton">Proceed to  Reaction Heat Adiabatic Temperature Rise MTSR economics</button>
            <div id="MSTRCalculationResult"></div>
        </div>

        <div id="mixingContainer" style="display: none;">
            <button id="mixingAnalysisButton">Proceed to  reaction mixing </button>
        </div>
        <div id="mixingWizard" style="display: none;">
            <h2>mixing Analysis</h2>
            <div id="mixingQuestion"></div>
            <div id="mixingAnswers"></div>
        </div>
        <div id="mixingScorePlotContainer" style="display: none;">
            <canvas id="mixingScorePlots"></canvas>
        </div>

        <div id="rateContainer" style="display: none;">
            <button id="rateAnalysisButton">Proceed to   reaction rate </button>
        </div>
        <div id="rateWizard" style="display: none;">
            <h2>rate Analysis</h2>
            <div id="rateQuestion"></div>
            <div id="rateAnswers"></div>
        </div>
        <div id="rateScorePlotContainer" style="display: none;">
            <canvas id="rateScorePlots"></canvas>
        </div>

        <div id="sequenceContainer" style="display: none;">
            <button id="sequenceAnalysisButton">Proceed to sequence  </button>
        </div>
        <div id="sequenceWizard" style="display: none;">
            <h2>sequence Analysis</h2>
            <div id="sequenceQuestion"></div>
            <div id="sequenceAnswers"></div>
        </div>
        <div id="sequenceScorePlotContainer" style="display: none;">
            <canvas id="sequenceScorePlots"></canvas>
        </div>

        <div id="heatingContainer" style="display: none;">
            <button id="heatingAnalysisButton">Proceed to  heating </button>
        </div>
        <div id="heatingWizard" style="display: none;">
            <h2>heating Analysis</h2>
            <div id="heatingQuestion"></div>
            <div id="heatingAnswers"></div>
        </div>
        <div id="heatingScorePlotContainer" style="display: none;">
            <canvas id="heatingScorePlots"></canvas>
        </div>

        <div id="gasContainer" style="display: none;">
            <button id="gasAnalysisButton">Proceed to gas </button>
        </div>
        <div id="gasWizard" style="display: none;">
            <h2>gas Analysis</h2>
            <div id="gasQuestion"></div>
            <div id="gasAnswers"></div>
        </div>
        <div id="gasScorePlotContainer" style="display: none;">
            <canvas id="gasScorePlots"></canvas>
        </div>

        <div id="corrosivityContainer" style="display: none;">
            <button id="corrosivityAnalysisButton">Proceed to corrosivity </button>
        </div>
        <div id="corrosivityWizard" style="display: none;">
            <h2>corrosivity Analysis</h2>
            <div id="corrosivityQuestion"></div>
            <div id="corrosivityAnswers"></div>
        </div>
        <div id="corrosivityScorePlotContainer" style="display: none;">
            <canvas id="corrosivityScorePlots"></canvas>
        </div>


    </div>

    <script type="module" src="../static/js/generateScaleUp.js"></script>
    <script type="module" src="../static/js/generateFlowDiagram.js"></script>
    <script type="module" src="../static/js/generateSafety.js"></script>
    <script type="module" src="../static/js/generateRecycle.js"></script>
    <script type="module" src="../static/js/generateReactionKinetics.js"></script>
    <script type="module" src="../static/js/generateKineticEconomicEnvironmental.js"></script>
    <script type="module" src="../static/js/generateMTSR.js"></script>
    <script type="module" src="../static/js/generateMTSREconomic.js"></script>
    <script type="module" src="../static/js/generateMixing.js"></script>
    <script type="module" src="../static/js/generateRate.js"></script>
    <script type="module" src="../static/js/generateSequence.js"></script>
    <script type="module" src="../static/js/generateHeating.js"></script>
    <script type="module" src="../static/js/generateGas.js"></script>
    <script type="module" src="../static/js/generateCorrosivity.js"></script>
    <script type="module" src="../static/js/script.js"></script>
    
</body>
</html>
