<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemical Reaction</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Chemical Reaction</h1>
        <button id="openReactionBtn">Open Reaction Container</button>
        <div id="reactionContainer" style="display: none;">
            <h2>Reactants</h2>
            <div id="reactants">
                <!-- Reactant inputs will be added here dynamically -->
            </div>
            <button id="addReactantBtn">Add Reactant</button>
            <h2>Products</h2>
            <div id="products">
                <!-- Product inputs will be added here dynamically -->
            </div>
            <button id="addProductBtn">Add Product</button>
            <button id="generateLCABtn">Generate Life Cycle Analysis</button>
            <button id="generateScaleUpBtn">Generate Scale Up Analysis</button>
        </div>
        <div id="environmentalReport" style="display: none;">
            <h2>Environmental Report</h2>
            <div id="reportContent"></div>
            <h3>Aggregate Score Radar Plot</h3>
            <canvas id="aggregateScoreChart"></canvas>
            <h3>Individual Reactant Score Radar Plots</h3>
            <div id="reactantScorePlots"></div>
            <h3>Individual Product Score Radar Plots</h3>
            <div id="productScorePlots"></div>
        </div>

        <div id="scaleUpWizard" style="display: none;">
            <h2>Scale-Up Analysis</h2>
            <div id="wizardSteps">
              <!-- Steps will be dynamically added here -->
            </div>
            <button id="prevBtn" disabled>Previous</button>
            <button id="nextBtn">Next</button>
        </div>
        
        <div id="recommendationContainer"></div>
        <div id="flowDiagramContainer" style="display: none;">
            <p id="originalRecommendation"></p>
            <button id="FlowDiagramAnalysisButton">Proceed to flow diagram analysis</button>
        </div>

        <div id="flowDiagramWizard" style="display: none;">
            <h2>Flow Diagram Analysis</h2>
            <div id="flowDiagramQuestion"></div>
            <div id="flowDiagramAnswers"></div>
        </div>
        <div id="flowDiagramOutput"></div>
        <canvas id="FlowDiagramScorePlots"></canvas>

        <div id="safetyContainer" style="display: none;">
            <button id="safetyAnalysisButton">Proceed to safety Analysis</button>
        </div>

        <div id="safetyWizard" style="display: none;">
            <h2>Safety Analysis</h2>
            <div id="safetyQuestion"></div>
            <div id="safetyAnswers"></div>
        </div>
        <div id="safetyScorePlotContainer" style="display: none;">
            <canvas id="safetyScorePlots"></canvas>
        </div>

        <div id="recycleContainer" style="display: none;">
            <button id="recycleAnalysisButton">Proceed to recycle Analysis</button>
        </div>
        <div id="recycleWizard" style="display: none;">
            <h2>Recycle Analysis</h2>
            <div id="recycleQuestion"></div>
            <div id="recycleAnswers"></div>
        </div>
        <div id="recycleScorePlotContainer" style="display: none;">
            <canvas id="recycleScorePlots"></canvas>
        </div>

        <div id="reactionKineticsContainer" style="display: none;">
            <button id="reactionKineticsAnalysisButton">Proceed to reaction kinetics Analysis</button>
            <div id="heatOfReactionButtonContainer" style="display: none;">
                <button id="calculateHeatOfReactionButton">Calculate the heat of reaction</button>
            </div>
            <div id="enthalpyChangeResult"></div>
        </div>

        <div id="reactionKineticsEconomicalEnvironmentalContainer" style="display: none;">
            <button id="reactionKineticsEconomicalEnvironmentalButton">Advance to the economic and envrionmental Analysis</button>
        </div>
        <div id="resultContainer"></div>

    </div>

    <script type="module" src="../static/js/generateScaleUp.js"></script>
    <script type="module" src="../static/js/generateFlowDiagram.js"></script>
    <script type="module" src="../static/js/generateSafety.js"></script>
    <script type="module" src="../static/js/generateRecycle.js"></script>
    <script type="module" src="../static/js/generateReactionKinetics.js"></script>
    <script type="module" src="../static/js/generateKineticEconomicEnvironmental.js"></script>
    <script type="module" src="../static/js/script.js"></script>
    
</body>
</html>